---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { getFooterData, getHeaderData } from '~/navigation';

import type { MetaData } from '~/types';
import type { Locale } from '~/lib/localization';

export interface Props {
  metadata?: MetaData;
  locale?: Locale;
}

const { metadata, locale = 'zh' } = Astro.props;
const headerData = getHeaderData(locale);
const footerData = getFooterData(locale);
---

<Layout metadata={metadata} lang={locale === 'zh' ? 'zh-CN' : 'en'} dir="ltr">
  <slot name="announcement" />
  <slot name="header">
    <Header {...headerData} isSticky isFullWidth={false} showRssFeed={false} showToggleTheme={false} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
